@import "tailwindcss";

:root {
  font-family: 'Petrona', serif;
  --text-primary: #6f4f5b;
  --text-secondary: #ba8398;
  --text-dark: #442c35;
  --link: #ac2254;
  --link-hover: #e40060;
  --bg-primary: #ffffff;
  --bg-secondary: #f8f8f8;
  --hr-color: #f2e2e8;
  font-size: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  animation: fadeIn 2s ease;
}

h1 {
  font-size: 4rem;
  color: var(--text-secondary);
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  color: var(--text-dark);
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
  color: var(--text-dark);
  font-weight: bold;
}

a {
  color: var(--link);
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold;
}

a:hover {
  color: var(--link-hover);
}

nav {
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: var(--bg-secondary);
}

nav a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  transition: color 0.3s ease;
}

li {
  margin: 0.5rem;
}

hr {
  border: 0 none;
  margin: 2rem 0rem;
  border-top: 1px solid var(--hr-color);
  border-bottom: 1px solid var(--hr-color);
  height: 3px;
  background-color: transparent;
}

.content {
  padding-top: 5rem;
}

.container {
  margin: 8px 0px;
  padding: 2px 0px;
  border-radius: 8px;
}

.container h3,
.container p {
  margin: 0.3rem 0rem;
}

.container sub {
  padding: 1rem 0rem;
  font-size: 1rem;
  color: var(--text-secondary);
}

a img {
  filter: brightness(0) saturate(100%) invert(63%) sepia(11%) saturate(300%) hue-rotate(295deg) brightness(130%) contrast(87%);
  transition: filter 0.3s ease;
  margin: 0 0.5rem;
}

a img:hover {
  filter: brightness(0) saturate(100%) invert(63%) sepia(11%) saturate(900%) hue-rotate(295deg) brightness(90%) contrast(87%);
}