@import "tailwindcss";

:root {
  font-family: 'Petrona', serif;
  color: var(--color-stone-800);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer base {
  body {
    animation: fadeIn 1.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  a {
    color: var(--color-stone-900);
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-decoration-color: var(--color-stone-300);
    text-underline-offset: 0.25rem;
    font-weight: 500;
    transition: text-decoration-color 0.3s ease, color 0.3s ease;
  }

  a:hover {
    color: var(--color-stone-950);
    text-decoration-color: var(--color-stone-500);
    text-decoration-thickness: 1px;
  }
}