@font-face {
  font-family: 'ET Book Roman Old Style';
  src: url('../fonts/et-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'ET Book Roman Old Style';
  --text-primary: #6f4f5b;
  --text-secondary: #916777;
  --link: #ac2254;
  --link-hover: #e40060;
  --bg-primary: #ffffff;
  --bg-secondary: #f8f8f8;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  animation: fadeIn 2s ease;
}

a {
  color: var(--link);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--link-hover);
}

nav {
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: var(--bg-secondary);
}

nav a {
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

button {
  border: none;
  background-color: transparent;
  transition: color 0.3s ease;
}

li {
  margin: 0.5rem;
}

.content {
  padding-top: 5rem;
}

.hello {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding: 5rem 0rem;
}

.container {
  background-color: var(--bg-secondary);
  margin: 8px 0px;
  padding: 2px 8px;
  border-radius: 8px;
}

footer {
  padding: 2rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer a {
  text-decoration: none;
  padding: 0 0.5rem;
}

a img {
  filter: brightness(0) saturate(100%) invert(45%) sepia(11%) saturate(1035%) hue-rotate(295deg) brightness(92%) contrast(87%);
  transition: filter 0.3s ease;
}

a img:hover {
  filter: brightness(0) saturate(100%) invert(35%) sepia(11%) saturate(1116%) hue-rotate(295deg) brightness(93%) contrast(89%);
}


.margin-0-16 {
  margin: 0 16px;
}

.padding-8px {
  padding: 8px;
}

.nowrap {
  white-space: nowrap;
}

.grid {
  display: grid;
  place-items: center;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.width-100 {
  width: 100%;
}

.max-width-700 {
  max-width: 700px;
}

.filler {
  flex: 1;
}

h1 {
  font-size: 3rem;
  color: var(--text-secondary);
}